@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?22v3b0');
  src:  url('../fonts/icomoon.eot?22v3b0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?22v3b0') format('truetype'),
    url('../fonts/icomoon.woff?22v3b0') format('woff'),
    url('../fonts/icomoon.svg?22v3b0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e912";
  color: #14fdc7;
}
.icon-award:before {
  content: "\e900";
}
.icon-doc:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
  /* color: #fff; */
}
.icon-instagram:before {
  content: "\e903";
}
.icon-intellegience:before {
  content: "\e904";
}
.icon-left:before {
  content: "\e905";
}
.icon-like:before {
  content: "\e906";
  color: #1ad1e4;
}
.icon-mail:before {
  content: "\e907";
}
.icon-microphone:before {
  content: "\e908";
}
.icon-pc:before {
  content: "\e909";
}
.icon-request:before {
  content: "\e90a";
  color: #14fdc7;
}
.icon-search:before {
  content: "\e90b";
  color: #db1f35;
}
.icon-settings:before {
  content: "\e90c";
  color: #1dbff1;
}
.icon-sound:before {
  content: "\e90d";
  color: #17e8d5;
}
.icon-stat:before {
  content: "\e90e";
}
.icon-tel:before {
  content: "\e90f";
  color: #14fdc7;
}
.icon-twitter:before {
  content: "\e910";
}
.icon-watch:before {
  content: "\e911";
}