@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: url(../img/bg.jpg) center center/cover no-repeat;
}
.logo {
    max-width: 222px;
}
/* .logo img {
    width: 100%;
} */
.main {
    padding: 50px;
    height: 100vh;
}
.portal-container {
    max-width: 1771px;
    margin: 0 auto;
    padding: 0 30px;
}
.nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.logo-portal {
    margin-right: 185px;
}
.nav ul {
    display: flex;
    list-style-type: none;
}
.nav ul li a {
    color: #59C0F4;
    font-size: 25px;
    font-weight: 600;
}
.nav ul li {
    margin-right: 80px;
}
.nav ul li:last-child {
    margin-right: 0;
}
.cabinet {
    padding-top: 57px;
    background: linear-gradient(180deg, #000000 -12.5%, rgba(0, 0, 0, 0) 42.68%), rgba(0, 0, 0, 0.61);
    border-radius: 16px;
    padding-bottom: 60px;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu a {
    background: linear-gradient(86.9deg, #14FDC7 17.49%, #1DBFF1 86.6%);
    box-shadow: inset 0px 9px 20px 3px rgba(255, 255, 255, 0.33);
    border-radius: 60px;
    color: #ED0080;
    font-size: 21px;
    font-weight: 600;
    padding: 23px 40px;
    margin-right: 60px;
}
.music-list {
    background: linear-gradient(180deg, #000000 -12.5%, rgba(0, 0, 0, 0) 42.68%), rgba(0, 0, 0, 0.78);
    border-radius: 16px;
}
.music-albooms {
    margin-top: 75px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 78px;
}
.portal-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.portal-tag {
    background: linear-gradient(86.9deg, #CC00FF -189.74%, #F11D1D -120.62%);
    box-shadow: inset 0px 9px 20px rgba(255, 255, 255, 0.33);
    border-radius: 60px;
    color: #14FDC7;
    font-weight: 600;
    font-size: 21px;
    padding: 11px 50px;
    margin: 10px;
    /* max-width: 192px; */
    text-align: center;
    cursor: pointer;
}
.portal-tag:hover {
    opacity: 0.9;
}
.alboom {
    margin-top: 40px;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    gap: 47px;
    max-height: 780px;
    overflow: scroll;
    padding-right: 55px;
}
.alboom-card {
    background: #14FDC7;
    border-radius: 10px;
    padding: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.alboom-card img {
    max-width: 215px;
}
.alboom-card h2 {
    margin-top: 20px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.alboom-card span {
    margin-top: 48px;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.nav {
    padding-top: 47px;
}
.container-portal {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 45px;
}
/* Cкролл */
.alboom::-webkit-scrollbar-thumb, .playlists::-webkit-scrollbar-thumb {
    height: 2px; /* высота для горизонтального скролла */
    background: linear-gradient(86.9deg, #14FDC7 17.49%, #1DBFF1 86.6%);
    box-shadow: inset 0px 9px 20px 3px rgba(255, 255, 255, 0.33);
    border-radius: 60px;
}
.alboom::-webkit-scrollbar, .playlists::-webkit-scrollbar {
    background: transparent;
    width: 13px;
    height: 0px;
}
.menu a:last-child {
    margin-right: 0;
}
.menu a:hover {
    opacity: 0.9;
}
.cabinet-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    max-width: 1097px;
    margin: 0 auto;
    margin-top: 95px;
    padding-top: 52px;
    padding-bottom: 60px;
}
.cabinet-form form div input {
    width: 100%;
    background: #1CE0DC;
    border-radius: 24px;
    outline: none;
    border: none;
    padding: 13px 20px;
    margin-bottom: 25px;
    color: #ED0080;
}
.cabinet-form form div label {
    color: #ED0080;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 12px;
    display: block;
}
.cabinet-form form {
    padding: 39px 45px 0 100px;
}
.cabinet-form img {
    border-radius: 37px;
    max-width: 396px;
}
.btn-portal {
    background: linear-gradient(86.9deg, #CC00FF 17.49%, #F11D1D 86.6%);
    box-shadow: inset 0px 9px 20px 3px rgba(255, 255, 255, 0.33);
    border-radius: 60px;
    color: #14FDC7;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    left: 70%;
    max-width: 355px;
    padding: 13px;
}
.menu .active-btn {
background: linear-gradient(86.9deg, #CC00FF 17.49%, #F11D1D 86.6%);
box-shadow: inset 0px 9px 20px 3px rgba(255, 255, 255, 0.33);
color: #14FDC7;
}
.active {
    border-bottom: 3px solid #ED0080;
}
.object {
    background: linear-gradient(180deg, #000000 -12.5%, rgba(0, 0, 0, 0) 42.68%), rgba(0, 0, 0, 0.61);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.objects {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1278px;
    margin: 0 auto;
    padding: 50px 84px;
    flex-direction: column;
    margin-top: 90px;
    padding-bottom: 30px;
}
.objects h2 {
    align-self: flex-start;
    color: #14FDC7;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 50px;
}
.music-card {
    background: linear-gradient(86.9deg, #14FDC7 17.49%, #1DBFF1 86.6%);
    box-shadow: inset 0px 9px 20px 3px rgba(255, 255, 255, 0.33);
    border-radius: 60px;
    width: 100%;
    display: flex;
    padding: 16px 47px 14px 46px;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
}
.music-card img {
    border-radius: 26px;
    max-width: 147px;
    margin-right: 74px;
}
.track {
    margin-top: 50px;
    position: relative;
}
.track h3 {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #ED0080;
    font-weight: 600;
}
.track img {
    margin-right: 23px!important;
}
.music-text .edit_card {
    color: #ED0080;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}
.music-text p {
    color: #ED0080;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}
.music-text img {
    margin-right: 0;
}
.track {
    display: flex;
    align-items: center;
}
.card-status {
    width: 13%;
    height: 100%;
    background: linear-gradient(90deg
, #CC00FF -89.29%, rgba(255, 255, 255, 0) 142.41%), #F21F1F;
    border-radius: 0px 60px 60px 0px;
    position: absolute;
    right: 0;
    top: 0;
}
.card-status p {
    color: #000000;
    transform: rotate(-90deg);
    font-size: 20px;
    margin-top: 60px;
    /* font-size: 16px;
    margin-top: 4px; */
    font-weight: 500;
}
.menu .music-active {
    background: linear-gradient(86.9deg, #CC00FF -189.74%, #F11D1D -120.62%);
    box-shadow: inset 0px 9px 20px rgba(255, 255, 255, 0.33);
    color: #14FDC7;
}
/* Модалка плейлиста */
.modal-playlist {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #0008;
    display: none;
}
.modal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
    padding: 28px 26px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}
.modal-first img {
    border-radius: 10px;
    max-width: 291px;
}
.modal-first h2 {
    color: #14FDC7;
    font-size: 25px;
    font-weight: bold;
    margin-top: 24px;
}
.modal-first span {
    color: #14FDC7;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    display: block;
}
.modal-first .mini-btn {
    background: #14FDC7;
    border-radius: 12px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    max-width: 252px;
}
.modal-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.modal-buttons .mini-btn {
    margin-bottom: 15px;
}
.primary-btn {
    color: #14FDC7;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid #14FDC7;
    box-sizing: border-box;
    border-radius: 12px;
    max-width: 250px;
    padding: 13px 40px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.25s all;
}
.primary-btn:hover {
    color: #000;
    background: #14FDC7;
}
.modal-second {
    background: linear-gradient(352.19deg, #FFFFFF -123.83%, #28C6F0 103.52%), #14FDC7;
    border-radius: 10px;
    padding: 20px 40px;
}
.trackname h3 {
    color: #161717;
    font-weight: 800;
    font-size: 18px;
}
.trackname h3 span {
    font-weight: 600;
}
/* Мои объекты */
.my-object {
    background: rgba(0, 0, 0, 0.56);
    border-radius: 10px;
    padding-bottom: 59px;
}
.my-object-wrapper {
    margin-top: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1340px;
    max-width: 0 auto;
    padding-bottom: 200px;
}
.days {
    margin-top: 30px;
}
.btn-day {
    background: linear-gradient(180deg, #FFFFFF -38.33%, rgba(255, 255, 255, 0) 100%), #F21E1E;
    border-radius: 10px;
    color: #15FCC8;
    font-weight: 600;
    font-size: 24px;
    padding: 16px 40px;
    outline: none;
    border: none;
    margin-right: 35px;
    cursor: pointer;
    margin-bottom: 15px;
}
.btn-day:hover {
    opacity: 0.9;
}
.btn-day:last-child {
    margin-right: 0;
}
.playlists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 45px;
    max-height: 380px;
    overflow-y: scroll;
    padding-right: 50px;
    margin-top: 50px;
}
.playlist {
    background: #14FDC7;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}
.playlist h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.playlist span {
    margin-top: 8px;
    display: block;
}
.playlist-func {
    margin-top: 15px;
}
.playlist-play {
    color: #177200;
    font-size: 18px;
    margin-right: 15px;
}
.playlist-off {
    color: #F11D1D;
    font-size: 18px;
}
.playlist-card {
    max-width: 1100px;
    height: 180px;
}
.btn-portal {
    margin-top: 75px;
    display: block;
}
/* Планшет */
@media (max-width: 769px) {
    .menu {
        margin-top: 75px;
    }
    .container {
        padding: 0 45px;
    }
    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav ul li {
        margin-right: 50px;
    }
    .language {
        margin-top: 35px;
    }
    .nav ul {
        margin-top: 35px;
    }
    .menu {
        margin-top: 45px;
        flex-direction: column;
        text-align: center;
    }
    .music-text .edit_card {
        text-align: center;
    }
    .track {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .btn-day {
        margin-bottom: 30px;
    }
    .days {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .playlists {
        grid-template-columns: repeat(2, 1fr);
        max-height: initial;
        padding-right: 0;
    }
    .menu a {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .cabinet-form {
        grid-template-columns: repeat(1, 1fr);
    }
    .cabinet-form img {
        margin: 0 auto;
        order: -1;
    }
    .btn {
        position: initial;
        width: 100%;
        margin: 0 auto;
    }
    .music-card img {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .playlist-func {
        margin-top: 30px;
    }
    .music-card {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .music-text p {
        margin-bottom: 50px;
        line-height: 35px;
    }
    .objects h2 {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .music-card img {
        margin-bottom: 0;
    }
    .playlist-card {
        flex-wrap: nowrap;
        align-items: center;
        height: initial;
    }
    .playlist-card img {
        margin-bottom: 0;
    }
    .card-status {
        display: none;
    }
    .track {
        justify-content: center;
        margin-bottom: 25px;
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portal-tag {
        width: 33.333%;
    }
    .alboom {
        padding-right: 0;
        max-height: initial;
        grid-template-columns: repeat(2, 1fr);
    }
    .alboom::-webkit-scrollbar-thumb {
        display: none;
    }
    .alboom::-webkit-scrollbar {
        display: none;
    }
    .modal-content {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        top: 5%;
    }
    .modal-first .mini-btn {
        max-width: 100%;
    }
    .primary-btn {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .nav {
        flex-direction: column;
    }
    .btn-portal {
        left: 25%;
        margin-top: 25px;
    }
}
@media (max-width: 579px) {
    .nav {
        flex-direction: column;
    }
    .nav ul {
        flex-direction: column;
        text-align: center;
    }
    .nav ul li {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .btn-portal {
        left: 15%;
    }
    .cabinet-form img {
        max-width: 100%;
    }
    .cabinet-form {
        padding-top: 0;
    }
    .cabinet-form form {
        padding: 10px;
    }
    form div label {
        text-align: center;
    }
    .music-card {
        width: 173%;
        border-radius: 15px;
        flex-direction: column;
    }
    .objects h2 {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .music-text p {
        display: none;
    }
    .music-card img {
        margin-right: 0!important;
    }
    .active {
        display: inherit;
    }
    .track {
        flex-wrap: wrap;
    }
    .portal-tag {
        width: 45%;
        margin: 10px;
        padding: 11px 32px;
    }
    .container-portal {
        padding: 0 5px;
    }
    .alboom {
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    .primary-btn {
        font-size: 18px;
    }
    .modal-content {
        top: 1%;
        overflow: scroll;
    }
    .modal-playlist {
        overflow: scroll;
    }
    .playlist-card {
        flex-wrap: wrap;
        max-width: 100%;
        border-radius: 10px;
    }
    .music-text p {
        margin-top: 15px;
        display: block;
        font-size: 18px;
    }
    .playlists {
        grid-template-columns: repeat(1, 1fr);
    }
    .my-object-wrapper {
        padding-bottom: 0!important;
    }
    .trackname h3 {
        font-size: 14px;
    }
    #select-object, #select-days {
        width: 100%;
        max-width: initial!important;
    }
    .modal-content {
        top: 2.5%;
    }
}
/* Дизайн плеера */
.green-audio-player {
    background-color: transparent;
    box-shadow: none;
}
.play-pause-btn__icon {
    fill: #ED0080;
}
.green-audio-player .slider .gap-progress .pin {
    background: #ED0080;
}
.controls__total-time {
    color: #ED0080;
}
.green-audio-player .controls span {
    color: #ED0080;
}
.volume__speaker {
    fill: #ED0080;
}
.green-audio-player .slider .gap-progress {
    background: #ED0080;
}
.green-audio-player .volume .volume__button.open path {
    fill: #ed008091;
}
.select-wrapper {
    background: linear-gradient(352.19deg, #FFFFFF -123.83%, #28C6F0 103.52%), #14FDC7;
    position: absolute;
    bottom: 12rem;
    padding: 20px;
    width: 36%;
    font-size: 16px;
    border-radius: 15px;
    opacity: 0%;
    transition: 0.5s all;
    pointer-events: none;
}
.select-wrapper li {
    cursor: pointer;
}
.select-wrapper li:hover {
    font-weight: bold;
}
.select-wrapper:hover {
    opacity: 100%;
    pointer-events: initial;
}
.btn-object:hover + .select-object .select-wrapper {
    opacity: 100%;
    pointer-events: initial;
}
.day-btn + .select-object .select-wrapper {
    bottom: 9rem;
}
.day-btn:hover + .select-object .select-wrapper {
    opacity: 100%;
    pointer-events: initial;
}
#select-days, #select-object {
    background: #14FDC7;
    border-radius: 12px;
    color: #000000;
    padding: 6px;
    max-width: 252px;
    font-weight: 500;
    font-size: 18px;
}
#select-days {
    margin-top: 15px;
}
.playlist img {
    width: 215px;
}
#trackname {
    position: absolute;
    color: #ED0080;
    left: 26%;
}
.track {
    position: relative;
}
@media (max-width: 579px) {
    .music-card {
        padding: 16px 47px 14px 1px;
    }
}
.btn-day.btn_active {
    background: linear-gradient(180deg, #FFFFFF -38.33%, rgba(255, 255, 255, 0) 100%), #15fcc8;
    color: #F21E1E;
}
