/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* Стили по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    background:#0D0D0D;
}
a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    outline: none;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
/* Переменные */
:root {
    --main-gradient: linear-gradient(86.9deg, #14FDC7 17.49%, #1DBFF1 86.6%);
    --red: #F90338;
    --green: #1DE8C0;
    --green-second: #14FDC7;
}
/* Используемые классы */
.btn {
    background: linear-gradient(86.9deg, #14FDC7 17.49%, #1DBFF1 86.6%), linear-gradient(86.33deg, #FF0073 39.44%, #B80190 95.78%);
    box-shadow: inset 0px 0px 5px 3px rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    color: #202020;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 30px;
    /* transition: 0.25s all; */
}
.btn:hover {
    /* color: #fff; */
    opacity: 0.9;
}
.hamburger {
    display: none;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}
/* Главный экран */
.main {
    height: 100vh;
    padding-top: 25px;
    padding-bottom: 160px;
    /* background: url(../img/main-bg.jpg) center center/cover no-repeat; */
    position: relative;
    overflow: hidden;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #17EDD2;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
header nav ul {
    display: flex;
    justify-content: space-between;
}
header nav ul li {
    margin-right: 35px;
}
header nav ul li:last-child {
    margin-right: 0;
}
header nav ul li a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: 0.5s all;
}
header nav ul li a:hover {
    color: #17EDD2;
}
.language {
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}
.language span {
    margin-left: 15px;
    color: #fff;
}
.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.telephone a {
    margin-right: 30px;
    color: var(--red);
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #fff;
}
.telephone span {
    font-size: 15px;
    margin-right: 8px;
}
.telephone p {
    font-size: 10px;
    color: #fff;
}
.search {
    font-size: 25px;
}
.header-info .btn {
    margin-right: 30px;
}
.main-wrapper {
    max-width: 816px;
    margin: 0 auto;
    margin-top: 80px;
}
.main-wrapper h1 {
    font-weight: 500;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
}
.main-wrapper span {
    font-weight: 500;
    font-size: 50px;
    /* text-transform: uppercase; */
    margin-top: 50px;
    display: block;
    color: #fff;
}
.main-wrapper p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-top: 45px;
}
.main-buttons {
    margin-top: 100px;
}
.main-buttons .btn {
    margin-right: 35px;
}
.arrow-down {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 10px;
    animation: main-bm 1.5s linear infinite;
}
@keyframes main-bm {
    0% {
        bottom: 5px;
    }
    50% {
        bottom: 10px;
    }
    75% {
        bottom: 0px;
    }
    100% {
        bottom: 5px;
    }
}
/* Статистика */
.stats {
    padding-top: 100px;
    padding-bottom: 140px;
    /* background: url(../img/wave.png) bottom center/auto no-repeat; */
    position: relative;
    background: #000;
}
.wave {
    background: url(../img/wave.png) center center/cover no-repeat;
}
.stats .container {
    max-width: 940px;
}
.stats .grid {
    gap: 150px;
}
.stats .grid div span {
    color: #14FDC7;
    font-size: 80px;
    font-weight: bold;
}
.stats .grid div:nth-child(2) span {
    color: #7971E9;
}
.stats .grid div p {
    font-size: 16px;
    color: #14FDC7;
    margin-top: 17px;
}
/* Бизнесу */
.business {
    /* background: url(../img/microphone.jpg) center center/cover no-repeat; */
    padding-top: 100px;
    /* padding-bottom: 120px; */
    padding-bottom: 300px;
    /* animation: bg-repeat infinite linear 18s; */
    background-color: #000;
    position: relative;
    overflow: hidden;
}
@keyframes bg-repeat {
    0% {
        background: url(../img/microphone.jpg) center center/cover no-repeat;
    }
    30% {
        background: url(../img/city.jpg) center center/cover no-repeat;
    }
    60% {
        background: url(../img/bar.jpg) center center/cover no-repeat;
    }
    90% {
        background: url(../img/hotel.jpg) center center/cover no-repeat;
    }
    100% {
        background: url(../img/microphone.jpg) center center/cover no-repeat;
    }

}
.business h2 {
    font-size: 60px;
    color: #32C4F2;
    font-weight: 500;
}
.business-stat {
    align-items: flex-end;
    display: flex;
    height: 105px;
}
.business-stat span {
    display: block;
    height: 50px;
    width: 12.5px;
    background: #f23279;
    /* position: relative; */
    margin-bottom: 58px;
    margin-right: 10px;
    /* animation: stat-main 0.7s linear infinite; */
    /* position: relative; */
}
.business-stat span:first-child, .business-stat span:nth-child(3) {
    height: 25px;
    animation: stat-second 1.2s linear infinite;
}
.business-stat span:nth-child(2) {
    animation: stat-main 0.6s linear infinite;
}

/* .business-stat::before {
    content: '';
    height: 25px;
    width: 12.5px;
    display: block;
    background: #32C4F2;
    position: absolute;
    left: 20px;
    bottom: 0;
}
.business-stat::after {
    content: '';
    height: 25px;
    width: 12.5px;
    display: block;
    background: #32C4F2;
    position: absolute;
    right: 20px;
    bottom: 0;
} */
@keyframes stat-main {
    0% {
        height: 50px;
    }
    50% {
        height: 25px;
    }
    100% {
        height: 50px;
    }
}
@keyframes stat-second {
    0% {
        height: 25px;
    }
    50% {
        height: 50px;
    }
    100% {
        height: 25px;
    }

}
.tag {
    background: #14FDC7;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    color: #272D4E;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
     opacity: 0;
    transform: translateY(-10px);
    transition: 0.5s ease-in-out all;
    /* animation: color-edit 6s linear infinite; */
}
.tags {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.tags:nth-child(2) {
    margin-bottom: 0;
}
.business .container.grid {
    align-items: flex-start;
    gap: 35px;
}
.tag-active {
    opacity: 100%;
    transform: translateY(0);
}
@keyframes color-edit {
    0% {
        background: #14FDC7;
        /* color: #272D4E; */
    }
    50% {
        background: #db1f35;
        /* color: #fff; */
    }
    100% {
        background: #14FDC7;
        /* color: #272D4E; */
    }
}
.business-tags {
    margin-top: 58px;
}
.business p {
    font-size: 16px;
    color: #32c4f2;
    max-width: 632px;
    margin-top: 57px;
}
.business .btn {
    margin-top: 60px;
}
.business-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 500px; */
}
.business-stat {
    /* margin-right: 300px; */
}
/* Плюсы работы с нами */
.plus-works {
    padding-top: 50px;
    padding-bottom: 160px;
    background: #000;
}
.plus-works .container {
    max-width: 1170px;
}
.plus-card {
    border-radius: 20px;
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 40px;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.5s all ease-in-out;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plus-card.card-active {
    background: linear-gradient(86.9deg, #14FDC7 17.49%, #1DBFF1 86.6%);
    transform: translateY(0);
    opacity: 100%;
}
.plus-works div:nth-child(2) {
    grid-column: 2 / span 2;
}
.plus-card:nth-child(3) {
    background: transparent;
    color: #14FDC7;
}
.plus-card:nth-child(5) {
    background: transparent;
    color: #14FDC7;
}
.plus-card:nth-child(7) {
    background: transparent;
    color: #14FDC7;
}
.plus-card p {
    font-size: 15.5px;
}
.plus-works h2 {
    font-size: 72px;
    color: #32C4F2;
    font-weight: 500;
    line-height: 100px;
    text-align: right;
    text-transform: uppercase;
}
.plus-works .grid {
    gap: 40px;
}
.plus-card span {
    font-size: 50px;
    margin-bottom: 18px;
    display: block;
    background: linear-gradient(0deg, #9F2FFF 0%, #0BB1D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* Шаги и стата  */
.step {
    padding-top: 100px;
    padding-bottom: 150px;
    background: url(../img/music-bg.png) center center/cover no-repeat;
    background-color: #000;
}
.step .container {
    max-width: 1195px;
}
.step h2 {
    text-align: center;
    color: var(--green);
    font-size: 36px;
    line-height: 28px;
}
.step h2 span {
    color: #F5AF4A;
}
.step .grid {
    margin-top: 95px;
    /* gap: 50px; */
    text-align: center;
}
.step .grid div span {
    font-size: 55px;
}
.step .grid div p {
    font-size: 18px;
    color: var(--green);
    font-weight: bold;
    margin-top: 50px;
}
.graph img {
    max-width: 100%;
    margin-top: 100px;
}
.step .btn span {
    font-size: 8px;
    text-align: center;
    margin-left: 30px;
}
.step .btn {
    padding-left: 50px;
    margin: 0 auto;
    display: block;
}
.step-text {
    color: var(--green);
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 25px;
}
/* Блог */
.blog {
    padding-top: 140px;
    padding-bottom: 116px;
    background: #000;
}
.logo-partners img {
    max-width: 95px;
    margin-right: 150px;
}
.logo-partners img:last-child {
    margin-right: 0;
}
.logo-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.blog h2 {
    color: var(--green);
    font-weight: 500;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 190px;
}
.blog p {
    margin-top: 55px;
    color: #12E4B3;
    font-size: 18px;
    text-align: center;
}
.blog .grid {
    margin-top: 120px;
}
.blog .grid img {
    border-radius: 20px;
    max-width: 430px;
}
.blog .grid h3 {
    color: #1DE8C0;
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
}
.blog .grid p {
    text-align: left;
    margin-top: 25px;
    color: #94A2B3;
}
.blog .grid a {
    font-weight: bold;
    font-size: 18px;
    color: #F90338;
    margin-top: 25px;
    display: inline-block;
}
.blog-card:nth-child(2) {
    margin-top: 80px;
}
.blog-card:nth-child(3) {
    margin-top: 160px;
}
/* Отправить заявку */
.request {
    padding-top: 120px;
    padding-bottom: 100px;
    background: url(../img/requests.jpg) center center/cover no-repeat;
}
.request .container {
    max-width: 1300px;
}
.request .grid {
    gap: 100px;
}
.request img {
    border-radius: 20px;
}
.request h2 {
    color: #14FDC7;
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 40px;
}
.request input {
    border-radius: 100px;
    background: #000000;
    color: #14FDC7;
    font-size: 16px;
    width: 100%;
    padding: 20px 25px;
    outline: none;
    margin-bottom: 25px;
    border: none;
}
.request input:last-child {
    margin-bottom: 0;
}
.request input::placeholder {
    font-size: 16px;
    color: #14FDC7;
}
.request label {
    display: flex;
}
.request .btn {
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.request .btn span {
    margin-right: 25px;
    font-size: 23px;
}
/* Футер */
footer {
    padding-top: 60px;
    padding-bottom: 25px;
    background: url(../img/footer-bg.jpg) center center/cover no-repeat;
}
footer .grid {
    gap: 60px;
    align-items: flex-start;
}
footer .grid div:first-child span {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
footer .grid div:first-child p {
    font-size: 10px;
    color: #000000;
    margin-top: 25px;
}
footer .grid .icon-mail {
    color: #14FDC7!important;
    font-size: 20px!important;
    margin-right: 10px;
}
footer .grid .icon-tel {
    margin-right: 10px;
}
.footer-contact {
    margin-top: 27px;
}
.footer-contact a:nth-child(2) span:nth-child(2) {
    font-size: 10px;
}
.footer-contact a:nth-child(2) {
    margin-left: 50px;
}
.grid h3 {
    color: #14FDC7;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.grid ul li {
    margin-bottom: 15px;
}
.grid ul li a {
    color: #000000;
    font-size: 16px;
    transition: 0.25s all;
}
.grid ul li a:hover {
    color: rgb(20, 253, 199);
}
.facebook, .twitter, .instagram {
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.facebook-circle, .twitter-circle, .instagram-circle {
    margin-right: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px 8px;
}
footer .icon-twitter, .icon-facebook, .icon-instagram {
    color: #000!important;
}
.facebook:hover .facebook-circle {
    background: #0575E6;
    border: 1px solid #0575E6;
}
.twitter:hover .twitter-circle {
    background: #00acee;
    border: 1px solid #00acee;
}
.instagram:hover .instagram-circle {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border: 1px solid transparent;
}
.facebook:hover .icon-facebook {
    color: #fff!important;
}
.twitter:hover .icon-twitter {
    color: #fff!important;
}
.instagram:hover .icon-instagram {
    color: #fff!important;
}
footer input {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
    padding: 14px 28px;
    width: 100%;
    margin-bottom: 20px;
}
footer input::placeholder {
    color: #000000;
    font-size: 14px;
    text-align: center;
}
footer input[type='submit'] {
    border: none;
    outline: none;
}
/* Планшеты */
@media (max-width: 769px) {
    .grid, .grid-3, .grid-4, .grid-6 {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container {
        padding: 0 30px;
    }
    .telephone {
        display: none;
    }
    header nav ul {
        flex-direction: column;
        background: linear-gradient(86.9deg, #14FDC7 17.49%, #1DBFF1 86.6%), linear-gradient(86.33deg
, #FF0073 39.44%, #B80190 95.78%);
        justify-content: center;
        position: absolute;
        width: 70%;
        height: 100vh;
        right: 0;
        top: 0;
        color: #fff;
        text-align: center;
    }
    .business-stat {
        margin-right: 0;
    }
    .header-menu {
        /* opacity: 0%; */
        /* right: -100%; */
        transition: 0.5s ease-in-out all;
        right: -100%;
    }
    header nav ul li {
        margin-right: 0;
        margin-bottom: 35px;
        border-bottom: 1px solid rgba(256, 256, 256, 0.6);
        padding-bottom: 35px;
    }
    header nav ul li a {
        color: #fff;
        font-size: 30px;
    }
    .header-info .btn {
        display: none;
    }
    .hamburger {
        display: block;
        order: 3;
        z-index: 2;
    }
    .language {
        justify-content: center;
    }
    .logo {
        order: 2;
    }
    .main {
        padding-top: 30px;
    }
    .stats .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .business-wrapper {
        margin-left: 0;
    }
    .language {
        margin-top: 30px;
    }
    .language img {
        width: 35px;
    }
    .language span {
        font-size: 30px;
    }
    .plus-works div:nth-child(2) {
        grid-column: 1 / span 1;
        order: -1;
    }
    .step .grid {
        gap: 50px;
        grid-template-columns: repeat(4, 1fr);
    }
    .logo-partners img {
        margin-right: 45px;
    }
    .blog .grid p {
        text-align: center;
    }
    .request img {
        max-width: 100%;
    }
    .request .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .request h2 {
        line-height: 60px;
    }
    footer .grid div:first-child p {
        font-size: 13px;
    }
    footer .grid {
        align-items: center;
        margin: 0 auto;
    }
}

/* Телефоны */
@media (max-width: 577px) {
    .main-wrapper h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .hamburger {
        display: block;
    }
    .main-wrapper span {
        font-size: 35px;
        line-height: 50px;
        margin-top: 25px;
    }
    .main-wrapper span {
        margin-top: 15px;
    }
    .main-wrapper p {
        margin-top: 15px;
    }
    #mainText {
        margin-left: 0!important;
    }
    .business h4 {
        line-height: 55px!important;
        font-size: 40px!important;
    }
    .stats .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .siema img {
        max-width: 100%!important;
    }
    .step .btn {
        margin-top: 4rem!important;
    }
    .business h2 {
        font-size: 42px!important;
        line-height: 55px;
        text-align: center;
    }
    #mainText::after {
        height: 75%!important;
        top: 0.5rem!important;
    }
    #mainText {
        line-height: 55px!important;
    }
    footer .grid {
        gap: 30px;
    }
    .tag {
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }
    .business p {
        text-align: center;
    }
    .plus-works h2 {
        font-size: 50px;
        line-height: 65px;
    }
    .step .grid {
        grid-template-columns: repeat(2, 1fr);
        /* gap: 80px; */
    }
    .tag {
        margin: 10px 0!important;
    }
    .siema img {
        max-width: initial!important;
    }
    .siema h3 {
        top: 9.5rem!important;
        left: 39%!important;
        transform: translateX(-27%)!important;
        font-size: 30px!important;
        white-space: nowrap;
    }
    .business h4 {
        margin-top: 3.5rem;
    }
    .request .grid {
        gap: 30px;
    }
    .request {
        padding-top: 60px;
    }
    .graph img {
        display: none;
    }
    .step-text {
        margin-top: 55px;
    }
    .logo-partners img {
        margin-right: 25px;
        margin-top: 25px;
    }
    .container {
        padding: 0 15px!important;
    }
    .article {
        position: absolute!important;
        left: 2rem!important;
        bottom: 18rem!important;
    }
    .request .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .step {
        padding-bottom: 75px;
    }
    .btn.btn-request {
        display: none;
    }
    .blog h2 {
        margin-top: 80px!important;
    }
    .blog .grid h3 {
        line-height: 0;
    }
    .blog .grid p {
        margin-top: 15px;
    }
    .blog h2 {
        font-size: 60px;
    }
    .request .btn {
        justify-content: center;
        margin: 0 auto;
    }
    .request h2 {
        font-size: 35px;
    }
    .blog .grid img {
        max-width: 100%;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .language span {
        font-size: 20px;
    }
    .language img {
        width: 25px;
    }
    header nav ul li {
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    .sound-wave {
        bottom: -3rem;
    }
    .plus-works {
        padding-top: 80px;
    }
    .business {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .business p {
        margin-top: 27px;
    }
    .business-wrapper {
        padding-top: 30px;
    }
    .step {
        padding-top: 25px;
    }
    .plus-works {
        padding-bottom: 50px;
    }
    .blog {
        padding-top: 70px;
    }
    .blog h2 {
        margin-top: 100px;
    }
    .footer-contact a:nth-child(2) {
        margin-left: 3px;
    }
    .blog .grid h3 {
        line-height: 65px;
    }
    .main-wrapper p {
        font-size: 14px;
    }
    .container {
        padding: 0 15px;
    }
    .main {
        padding: 0!important;
        padding-top: 50px!important;
        align-items: flex-start!important;
    }
    .plus-works h2 {
        text-align: center;
    }
    .main-wrapper {
        margin-top: 70px;
    }
    .header-menu {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .main-buttons {
        margin-top: 35px;
    }
    .stats .grid div span {
        font-size: 60px;
    }
    .stats .grid {
        gap: 75px;
    }
    .business h2 {
        font-size: 60px;
    }
    .main-buttons a {
        display: none;
    }
    .main-wrapper {
        max-width: 100%;
    }
    .main-wrapper h1 {
        text-align: center;
    }
    .main-wrapper span {
        text-align: center;
    }
    .main-wrapper p {
        text-align: center;
    }
    .logo {
        order: 0;
    }
    .step {
        padding-top: 50px;
    }
    .sound-wave {
        bottom: -3rem!important;
    }
    .siema {
        max-width: 100%!important;
        top: 0;
        left: 0;
        position: relative!important;
    }
    #mainText {
        position: absolute!important;
        top: 5rem;
    }
    .business .container {
        padding: 0!important;
    }
}

/* Гамбургер */
.hamburger {
    padding: 15px 15px;
    /* display: inline-block; */
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #fff; }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #db1f35;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

      .hamburger--elastic .hamburger-inner {
        top: 2px;
        transition-duration: 0.275s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .hamburger--elastic .hamburger-inner::before {
          top: 10px;
          transition: opacity 0.125s 0.275s ease; }
        .hamburger--elastic .hamburger-inner::after {
          top: 20px;
          transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

      .hamburger--elastic.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(135deg);
        transition-delay: 0.075s; }
        .hamburger--elastic.is-active .hamburger-inner::before {
          transition-delay: 0s;
          opacity: 0; }
        .hamburger--elastic.is-active .hamburger-inner::after {
          transform: translate3d(0, -20px, 0) rotate(-270deg);
          transition-delay: 0.075s; }

/* Активный класс для бургера */
.active {
    display: flex;
    right: 0;
}

/* Загрузка страницы */
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    background: #000;
    opacity: 100%;
    transition: 0.5s all ease-in-out;
}
#wave {
	height: 70px;
	width: 70px;
	fill: rgb(20, 253, 199);
}
#Line_1 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }

  #Line_2 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }

  #Line_3 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }

  #Line_4 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  #Line_5 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }

  #Line_6 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }

  #Line_7 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
  }

  #Line_8 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }

  #Line_9 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 1.35s;
            animation-delay: 1.35s;
  }
  @-webkit-keyframes pulse {
    0% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
    50% {
      transform: scaleY(0.7);
      transform-origin: 50% 50%;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
  }

  @keyframes pulse {
    0% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
    50% {
      transform: scaleY(0.7);
      transform-origin: 50% 50%;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
  }
  /* Анимация волн бэкграунда */
  .sound-wave svg path:nth-child(164), .sound-wave path:nth-child(33), .sound-wave path:nth-child(161), .sound-wave path:nth-child(109), .sound-wave path:nth-child(107), .sound-wave path:nth-child(52), .sound-wave path:nth-child(84), .sound-wave path:nth-child(162), .sound-wave path:nth-child(3), .sound-wave path:nth-child(59), .sound-wave path:nth-child(111), .sound-wave path:nth-child(4), .sound-wave path:nth-child(97), .sound-wave path:nth-child(49), .sound-wave path:nth-child(159), .sound-wave path:nth-child(135), .sound-wave path:nth-child(9) {
      animation: anim 0.3s infinite;
      transition: none !important;
  }

  .sound-wave path:nth-child(34), .sound-wave path:nth-child(165), .sound-wave path:nth-child(36), .sound-wave path:nth-child(7), .sound-wave path:nth-child(144), .sound-wave path:nth-child(51), .sound-wave path:nth-child(130), .sound-wave path:nth-child(87), .sound-wave path:nth-child(79), .sound-wave path:nth-child(155), .sound-wave path:nth-child(110), .sound-wave path:nth-child(80), .sound-wave path:nth-child(115), .sound-wave path:nth-child(92), .sound-wave path:nth-child(98), .sound-wave path:nth-child(48), .sound-wave path:nth-child(156), .sound-wave path:nth-child(136) {
    animation: anim 0.3s infinite;
    transition: none !important;
  }


  .sound-wave path:nth-child(166), .sound-wave path:nth-child(34), .sound-wave path:nth-child(8), .sound-wave path:nth-child(42), .sound-wave path:nth-child(133), .sound-wave path:nth-child(58), .sound-wave path:nth-child(78), .sound-wave path:nth-child(85), .sound-wave path:nth-child(46), .sound-wave path:nth-child(114), .sound-wave path:nth-child(71), .sound-wave path:nth-child(60), .sound-wave path:nth-child(120), .sound-wave path:nth-child(94), .sound-wave path:nth-child(50), .sound-wave path:nth-child(157), .sound-wave path:nth-child(134) {
    /* animation: anim 0.3s infinite;
    transition: none !important; */
  }

  .sound-wave path:nth-child(35), .sound-wave path:nth-child(1), .sound-wave path:nth-child(132), .sound-wave path:nth-child(112), .sound-wave path:nth-child(53), .sound-wave path:nth-child(72), .sound-wave path:nth-child(121), .sound-wave path:nth-child(158), .sound-wave path:nth-child(137) {

  }

  .sound-wave path:nth-child(108), .sound-wave path:nth-child(122), .sound-wave path:nth-child(112), .sound-wave path:nth-child(154) {

  }
  @keyframes anim {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
       opacity: 1;
      }
  }
  .sound-wave {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
  }
  .tag {
      margin: 10px;
      text-align: center;
  }
/* Модалка заявки  */
.landing-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
}
.landing-modal-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 25%;
    /* height: 25%; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 30px 30px 70px;
}
.close-modal {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
.landing-modal-content h2 {
    margin-bottom: 1rem;
}
.main-buttons a {
    transition: 0.5s all ease-in-out;
}
.main-buttons a:hover {
    color: #17EDD2;
}
footer input {
    outline: none;
}
/* Видео фон */
.videobg-wrapper {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.videobg-wrapper::before {
    content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(89.77deg, #F30042 -13.73%, rgba(255, 255, 255, 0) 87.19%), linear-gradient(270.13deg, rgba(3, 178, 238, 0.9) 6.28%, rgba(255, 255, 255, 0) 98.25%);
        z-index: 2;
}
.videobg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.videobg video {
    width: 100%;
    height: 100%;
    --o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}
#mainText {
    /* margin-left: 20px; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 85px;
    color: #f23279;
    /* margin-bottom: 500px; */
}
#mainText span {
    position: relative;
    /* margin-right: 70px */
}
/* #mainText span::after {
    width: 1px;
    height: 70%;
    content: "";
    border-right: 2px solid #f23279;
    animation: blink 0.65s ease-in-out infinite;
    position: absolute;
    top: 1rem;
    background: #f23279;
    margin-left: 10px;
} */

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.logo img {
    max-width: 100px;
    object-fit: contain;
}

.business h4 {
    font-size: 65px;
    color: #f23279;
    font-weight: 500;
}
.texts h3 {
    color: #32c4f2;
    font-size: 60px;
    font-weight: 500;
    margin-top: 60px;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.5s all;
    /* margin-bottom: 30px; */
}
.text-active {
    opacity: 100%!important;
    transform: translateY(0)!important;
    margin-bottom: 0;
}
.siema {
    position: absolute;
    top: 0rem;
    left: 0;
}
.siema img {
    max-width: 100%;
    filter: brightness(0.5);
}
.article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mainText {
    z-index: 5;
}
/* .siema div {
    position: relative;
} */
.siema h3 {
    color: #32c4f2;
    font-size: 60px;
    font-weight: 500;
    position: absolute;
    top: 14rem;
    left: 13%;
}
.slider {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
.business p {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
    max-width: 350px;
}
/* .siema h3 {
    position: relative;
} */
.siema h3::before {
    content: "";
    position: absolute;
    background: url(../img/icons/line.png) center center/cover no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    top: 0;
    left: -3rem;
}
.siema h3:nth-child(1) {
    left: 100%;
}
.btn-plus {
    max-width: 270px;
    text-align: center;
}
